@inherits Umbraco.Web.Macros.PartialViewMacroPage

	@{ IPublishedContent root = Model.Content.AncestorOrSelf(1); }

<ul class="nav navbar-nav">
    <li class='@((Model.Content.Name == root.Name) ? " active" : null)'>
        <a href="/">@root.Name</a>
		
    </li>

    @foreach (IPublishedContent menuItem in root.Children.Where(x => x.IsVisible())) {
    <li class='@((menuItem.Name == Model.Content.Name) ? "active" : null)'>
        <a href="@menuItem.Url">@menuItem.Name</a>
    </li>
    }
    <li class="dropdown">
        <a class="dropdown-toggle" data-toggle="dropdown">Our Projects<span class="caret"></span></a>
        <ul class="dropdown-menu">
			<li><a href='@Model.Content.AncestorOrSelf(1).Children.Where(x => x.DocumentTypeAlias == "projectsMain")'>Overview</a></li>
            @{
            IQueryable projectDowpdown =
            Model.Content.AncestorOrSelf(1)
            .Children
            .Where(x => x.DocumentTypeAlias == "projectsMain")
            .First()
            .Children
            .Where("Visible")
            .OrderBy("Name");
            }
            @foreach (IPublishedContent page in projectDowpdown) {
				var prevalue = page.GetPropertyValue<int>("projectStatus");
				if(Umbraco.GetPreValueAsString(prevalue) == "Completed"){
            		<li><a href="@page.Url">@page.Name</a></li>
				}
            }
        </ul>
    </li>
</ul>