@inherits Umbraco.Web.Mvc.UmbracoTemplatePage

@{
	Layout = null;
}

<html>
	<head>
		<meta charset="utf-8">
  		<meta name="viewport" content="width=device-width, initial-scale=1">
		<link rel="stylesheet" href="@Url.Content("~/Content/bootstrap.css")">
		<link rel="stylesheet" href="@Url.Content("~/css/style.css")">
		<title>@Umbraco.Field("siteTitle")</title>
		
	</head>
<body>	
	
	<div class="container">
	<nav class="navbar navbar-default">		
			<img src="../../media/1005/logo.png" alt="logo"/>
			<h1>Aarhus Web Developer Corporation</h1>
		<br />
		@Umbraco.RenderMacro("mainMenu")
	</nav>
	
	
		@RenderBody()
	
	
	<div id="footer-container">
		<footer class="panel-footer">
			@Umbraco.Field("footer", recursive: true)			
		</footer>
	</div>
	</div>
	
	
	<script src="/scripts/jquery-2.2.0.min.js"></script>
	<script src="/scripts/bootstrap.min.js"></script>
			
	<script src="/scripts/jquery.validate.min.js"></script>
	<script src="/scripts/jquery.validate.unobtrusive.min.js"></script>
</body>
</html>