@inherits Umbraco.Web.Mvc.UmbracoTemplatePage
@using Umbraco.Core;
@using Umbraco.Core.Models;
@using Umbraco.Core.Services;
@using Newtonsoft.Json;
@using Umbraco.Web.Models;

@{
	Layout = "Master.cshtml";

	var memberService = ApplicationContext.Current.Services.MemberService;
	var ActiveMembers = memberService.GetMembersByMemberType("active"); 
	var ProspectMembers = memberService.GetMembersByMemberType("prospect"); 

<h2>Our active members</h2>
foreach (var member in ActiveMembers) 
{	
	
	if (member.GetValue("photo") != null) {
		string image = member.GetValue<string>("photo");
		ImageCropDataSet imageCrops = JsonConvert.DeserializeObject<ImageCropDataSet>(image);
		string imagePath = imageCrops.Src.GetCropUrl();
		<img src="@imagePath " class="member"/><br>
	}
		
	<p>
	@member.GetValue("firstname")
	@member.GetValue("lastname") <br>
	@member.GetValue("address")<br>
	@member.GetValue("zip") 
	@member.GetValue("city") <br>
	<b>Email:</b> @member.Email
	</p> 
		
	String[] skills = member.GetValue("skills").ToString().Split(',');
	string skillString = string.Join(", ", from skill in skills select umbraco.library.GetPreValueAsString(Convert.ToInt32(skill)));
	<p><b>Skills:</b> <span>@skillString</span></p>

}
	
<h2>Our prospect members</h2>
foreach (var member in ProspectMembers) 
{	
		
	<p>
	@member.GetValue("firstname")
	@member.GetValue("lastname") <br>
	@member.GetValue("mobile")
	</p> 

}
}